// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.nav.navbar-nav {
  #signed-in {
    padding-top: 1em;
    color: #777;
  }
}


